<h1>{{title}}</h1>

<div class="formWrapper">
  <form class="form" class="form" (submit)="onSubmitForm()">
    <div>
      <input type="number" placeholder="Id" id="id" name="id" [(ngModel)]="itemForm.id" [disabled]="formEdit"
        autocomplete="off">
    </div>
    <div>
      <input type="text" placeholder="Titulo" id="title" name="title" [(ngModel)]="itemForm.title" autocomplete="off">
    </div>


    <div class="alinear-content">
      <input type="button" class="btn btn-red " value="Volver" [routerLink]="['/admin/items/list/']">
      <input type="submit" class="btn btn-green " value="{{titleBtnSubmit}}">
    </div>
  </form>
</div>