<div class="wrapper">
    <header class="main-head">
        <h1>Prueba Tecnica</h1>
    </header>
    <nav class="main-nav">
        <ul>
            <li><a class="btn btn-blue" [routerLink]="['/admin/items/list/']">Items</a></li>
            <li><a class="btn btn-blue" [routerLink]="['/admin/typicode/list/']">Typicode</a></li>

        </ul>
    </nav>
    <article class="content">
        <router-outlet></router-outlet>
    </article>


    <footer class="main-footer">
        <hr>
        <br>
        <h4> Sneider Castillo Gaona</h4>
        <a href="http://34.239.20.154:8080/swagger-ui.html"  target="_blank">Swagger ApiRest</a>
        <a href="https://gitlab.com/grupocinte-pruebaTecnica/prueba-tecnica-frontend-angular"  target="_blank" >codigo fuente angular</a>
        <a href="https://gitlab.com/grupocinte-pruebaTecnica/prueba-tecnica-apirest"  target="_blank" >Codigo fuente backend</a>
        
    </footer>
</div>