/***form ***/
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}

.form {
  margin: auto;

  width: 50% !important;
  padding: 40px;
  background-color: #FFF;
  border-radius: 15px;
}
