/*** Tablas **/

table {
    //background: white;
    //border-radius: 3px;
    // border-collapse: collapse;
    margin: auto;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    thead {
      th {
        color: #d5dde5;
        background: #1b1e24;
  
        font-size: 23px;
        font-weight: 100;
        padding: 5px;
        text-align: center;
      }
    }
  
    tbody {
      tr {
        color: #1b1e24;
        td {
          background: #ffffff;
          padding: 5px;
          text-align: left;
        }
      }
    }
  }