<h1>
  typicode
</h1>



<table >
    <thead>
      <tr>
        <th>ID</th>
        <th>TITULO</th>
      </tr>
    </thead>
    <tbody>
  
      <tr *ngFor="let item of list">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
      </tr>
    </tbody>
  </table>
