<h1>Lista de items</h1>


<div class="contenedor-btn-create">
    <button class="btn btn-green" [routerLink]="['/admin/items/create']">Crear item</button>
</div>

<table >
  <thead>
    <tr>
      <th>ID</th>
      <th>TITULO</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of listItems">
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td class="td-options">
        <div class="alinear-content">
            <button class="btn btn-green " [routerLink]="['/admin/items/update/',item.id]">Editar</button>
            <button class="btn btn-red" (click)="deleteItem(item.id)">Eliminar</button>
        </div>
        
      </td>
    </tr>
  </tbody>
</table>