/* You can add global styles to this file, and also import other style files */

/*botones*/
/*.button {
  border: none;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}*/

.contenedor-btn-create {
  .btn {
    float: right;
  }
}
.alinear-content{
    text-align: right;
     .btn{
        display: inline;
    }
}

body {
  font: 100% Helvetica, sans-serif;
  // background-color: #efefef;
  //background-color: #3e94ec;
  background-color: #e9e9e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***titulos*/
h1 {
  padding: 20px;
  // color: #fafafa;
  font-size: 30px;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}


